<!DOCTYPE html><% const options = htmlWebpackPlugin.options %>
<html>
	<head>
		<meta charset="utf-8">

		<% if (options.googleAnalytics) { %>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=<%= options.googleAnalytics %>"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', <%= JSON.stringify(options.googleAnalytics) %>);
		</script>
		<% } %>

		<title><%= options.title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<style>
			* { margin: 0; padding: 0; }
			html, body { overflow: hidden; }
			canvas { width: 100%; height: 100%; touch-action: none; }
			@keyframes fadein {
				from { opacity: 0 }
				to { opacity: 1 }
			}
			#points {
				color: #fff;
				font-family: monospace;
				font-size: 2em;
				line-height: 3;
				position: absolute;
				text-align: center;
				user-select: none;
				width: 100%;
			}
			.help {
				animation: fadein 0.5s 10s forwards;
				bottom: 0;
				color: #31ca38;
				font-family: monospace;
				font-size: 2em;
				opacity: 0;
				position: absolute;
				text-align: center;
				width: 100%;
				padding-bottom: 20vh;
				user-select: none;
			}
		</style>
	</head>
	<body>
		<div id="points"></div>
		<div class="help" id="help-desktop">
			Press the spacebar or click to shoot!
		</div>
		<div class="help" id="help-mobile">
			Press the screen to shoot!
		</div>
	</body>
</html>
